body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

/*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

#button_1 {
    height: 38px;
    background: red;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    cursor: pointer;
    
    float: right;
}


/*Header*/

header {
    background: black;
    color: white;
    padding-top: 25px;
    min-height: 70px;
    border-bottom: red 3px solid;

}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    cursor: pointer;
}

header nav {
    float: right;
    margin-top: 10px;
}

/*Header brand text style*/
.elite {
    color: red;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*about menu name style*/

#about:hover {
    color: red;
    font-weight: bold;
}


/*home and service menu name hover style*/
#home:hover {
    color: red;
    font-weight: bold;
}

#service{
    color: red;
    cursor: pointer;
}

/*Newsletter*/
#newsletter {
    padding: 15px;
    color: #ffffff;
    background: black;

}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

/*email input style*/
#newsletter input {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*sidebar*/

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 70px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;

  }

/*article style*/
article#article {
    float: left;
    width: 65%;
}


/* quate class red style*/
.red {
    padding: 15px;
    background: red;
}

/* service list style*/

ul#service_list li {
    list-style: none;
    padding: 10px;
    border: white solid 8px;
    margin-bottom: 1px;
    background: black;
    color: white;
  
}



/*footer style*/

footer {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    background-color: red;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
  }